.content {
  display: flex;
  flex-direction: row;
  gap: 5em;
  padding: 2.2em;
}

#main-nav {
  padding: 0.5em;
  background-color: rgb(188, 49, 17);
}

#main-nav ul {
  display: flex;
  justify-content: center;
}

#main-nav a {
  padding: 2.2em 6em;
  display: block;
  text-decoration: none;
  color: white;
}

#main-nav a:nth-child(0) {
  color: orange;
}

#main-nav a:hover {
  background-color: #ccc;
}

/* aside */
aside {
  width: 30%;
  order: 1;
  padding: 1em;
  border: 1px solid black;
}
#aside h2 {
  font-size: 2.1em;
  background-color: rgb(49, 46, 46);
  color: azure;
  padding: 1.2em;
  margin-bottom: 0.7em;
}

#aside p {
  line-height: 135%;
  margin-bottom: 1em;
}

#aside footer {
  background-color: rgb(49, 46, 46);
  padding: 1em;
  color: white;
}

#aside footer a {
  text-decoration: underline;
  color: white;
}

/* main */
main {
  width: 70%;
  order: 2;
  display: flex;
  gap: 1em;
}

#box {
  border: 1px solid black;
  border-radius: 0.5em;
  width: 240;
  padding: 1em;
}

#main img {
  display: block;
  margin: auto;
  margin-bottom: 1em;
}

#main p {
  margin-bottom: 1em;
}

#main footer {
  background-color: rgb(49, 46, 46);
  padding: 1em;
  color: white;
  text-align: center;
}
